@import '@orbyta/tokens/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    color-scheme: light dark;
  }
  :root[data-theme='claro'] {
    color-scheme: light;
  }
  :root[data-theme='oscuro'] {
    color-scheme: dark;
  }
  body {
    @apply bg-fondo font-sans text-md text-texto antialiased;
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-duration: 0.01ms !important;
      transition-duration: 0.01ms !important;
    }
  }
}
